// header styles
.header {
  padding: 37px 0 29px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: $white;
  font-size: 16px;

  @include d(768) {
    padding: 20px 0;
    font-size: 18px;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include d(768) {
      flex-wrap: wrap;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    width: calc(100% - 167px);
    justify-content: flex-end;

    @include d(768) {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $primary;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 80px;
      padding-left: 15px;
      left: -10px;
      opacity: 0;
      pointer-events: none;
      transition: left $hover-duration $timing, opacity $hover-duration $timing;

      &.open {
        left: 0;
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  &-login {
    display: flex;
    align-items: center;

    @include d(768) {
      display: block;
    }
  }
}

.login-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .06em;

  @include d(768) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  &:first-child {
    margin-right: 48px;

    @include d(991) {
      margin-right: 20px;
    }

    @include d(768) {
      margin-right: 0;
    }
  }

  img {
    flex: 0 0 14px;
    margin-right: 10px;
  }
}

.logo {
  max-width: 167px;
  position: relative;
  z-index: 10;

  @include d(991) {
    max-width: 140px;
  }

  @include d(768) {
    max-width: 120px;
  }
}

.point {
  position: relative;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -3px;

    @include d(768) {
      display: none;
    }
  }
}

.select {
  &-box {
    display: flex;
    align-items: center;

    .nice-select {
      background-color: transparent;
      border: none;
      font-size: 16px;
      padding: 0;
      margin-left: 10px;
      height: 40px;

      @include d(768) {
        font-size: 18px;
      }

      .list {
        color: $textColor;
        border-radius: 0;
        overflow: visible;

        @include d(768) {
          right: 0;
          left: auto;
        }

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: 10px;
          z-index: 1;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 5px 5px;
          border-color: transparent transparent $white transparent;
        }
      }

      &::after {
        display: none;
      }
    }

    img {
      flex: 0 0 14px;
      height: 14px;
      width: 14px;
    }
  }

  &-country,
  &-language {
    margin-right: 44px;

    @include d(991) {
      margin-right: 20px;

    }

    @include d(768) {
      margin-right: 0;
    }
  }

  &-language {
    @include d(768) {
      margin-bottom: 10px;
    }
  }

}

.trp-language-switcher,
.trp-ls-shortcode-current-language {
  background-color: transparent;
  border: none;
}

.trp-language-switcher .trp-ls-shortcode-current-language {
  background: transparent;
  border: none;
}

.trp-language-switcher:focus .trp-ls-shortcode-language,
.trp-language-switcher:hover .trp-ls-shortcode-language {
  background: transparent;
  border: none;
}

.trp-language-switcher>div>a {
  color: $white;
}

.trp-ls-shortcode-language {
  background-color: transparent;
  border: none;
}

.trp-language-switcher>div>a:hover {
  background: transparent;
}

.humburger {
  width: 40px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;

  @include d(768) {
    display: block;
  }

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $primary;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 11px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 22px;
      transform-origin: left center;
    }
  }

  &.open span {
    background-color: $primarySecond;
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    left: 8px;
  }

  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 29px;
    left: 8px;
  }
}