// header styles
.header {
  padding: 37px 0 29px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: $white;
  font-size: 16px;

  @include d(340) {
    font-size: 12px;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include d(767) {
      flex-wrap: wrap;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    width: calc(100% - 167px);
    justify-content: flex-end;
    padding-right: 10px;

    @include d(767) {
      width: 100%;
      margin-top: 20px;
      padding-right: 0;
    }
  }

  &-login {
    display: flex;
    align-items: center;

    @include d(767) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.login-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .06em;

  &:first-child {
    margin-right: 48px;

    @include d(991) {
      margin-right: 20px;
    }
  }

  img {
    flex: 0 0 14px;
    margin-right: 10px;
  }
}

.logo {
  max-width: 167px;

  @include d(991) {
    max-width: 140px;
  }

  @include d(767) {
    max-width: 120px;
  }

  @include d(340) {
    max-width: 100px;
  }
}

.point {
  position: relative;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -3px;
  }
}



.select {
  &-box {
    display: flex;
    align-items: center;

    .nice-select {
      background-color: transparent;
      border: none;
      font-size: 16px;
      padding: 0;
      margin-left: 10px;
      height: 40px;

      @include d(340) {
        font-size: 12px;
      }

      .list {
        color: $textColor;
        border-radius: 0;
        overflow: visible;

        @include d(767) {
          right: 0;
          left: auto;
        }

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: 10px;
          z-index: 1;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 5px 5px;
          border-color: transparent transparent $white transparent;
        }
      }

      &::after {
        display: none;
      }
    }

    img {
      flex: 0 0 14px;
      height: 14px;
      width: 14px;
    }
  }

  &-country,
  &-language {
    margin-right: 44px;

    @include d(991) {
      margin-right: 20px;

    }
  }

  &-language {
    @include d(767) {
      margin-right: 0;
    }
  }

}