  <!-- footer start -->
  <footer class="footer">
    <svg class="mask footer-mask_l" viewBox="0 0 1162 576" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1040.71 207.187C1000.51 83.6352 885.355 -2.41851e-05 755.428 -3.55436e-05L-20 -0.000103334L-20.0001 580L1162 580L1040.71 207.187Z"
        fill="#F8F9FC" />
    </svg>

    <svg class="mask footer-mask_r" viewBox="0 0 1177 484" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M152.674 169.116C202.825 65.6828 307.668 0 422.618 0L1470 0V484L6.10352e-05 484L152.674 169.116Z"
        fill="#050629" />
    </svg>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="#" class="footer-logo">
            <img src="img/footer-logo.svg" alt="send it to">
          </a>
          <ul class="social-list">
            <li>
              <a href="#">
                <svg class="svg-social">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="svg-social">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="svg-social">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer__box">
            <h5 class="title-5">Customer services</h5>
            <ul class="footer-list">
              <li>
                <a href="#">Promotions</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#">Cash Pick-up locations</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer__box">
            <h5 class="title-5">Destinations</h5>
            <ul class="footer-list">
              <li>
                <a href="#">Send top-up to Philippines</a>
              </li>
              <li>
                <a href="#">All destinations</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer__box">
            <h5 class="title-5">Company</h5>
            <ul class="footer-list">
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Media Coverage</a>
              </li>
              <li>
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <address class="address">
            <p>71-75 shelton street, <br> London wc2h 9jq</p>
            <p>Registered in England and Wales reg. no 08726948</p>
          </address>
        </div>
        <div class="col-md-6">
          <div class="logos-row">
            <div class="secure">
              <img src="img/secure.png" alt="secure">
            </div>
            <ul class="pay-list">
              <li>
                <img src="img/pay1.svg" alt="visa">
              </li>
              <li>
                <img src="img/pay2.svg" alt="mastercard">
              </li>
              <li>
                <img src="img/pay3.svg" alt="paypal">
              </li>
              <li>
                <img src="img/pay4.svg" alt="discover">
              </li>
              <li>
                <img src="img/pay5.svg" alt="american express">
              </li>
            </ul>
            <div class="checkout">
              <img src="img/checkout.svg" alt="checkout">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p class="copyright">&copy; 2020 SENDITOO LTD</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->