  <!-- footer start -->
  <footer class="footer">
    <img src="img/footer-mask_l.svg" alt="mask" class="mask footer-mask_l">
    <img src="img/footer-mask_r.svg" alt="mask" class="mask footer-mask_r">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="#" class="footer-logo">
            <img src="img/footer-logo.svg" alt="send it to">
          </a>
          <ul class="social-list">
            <li>
              <a href="#">
                <svg class="svg-social">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="svg-social">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="svg-social">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer__box">
            <h5 class="title-5">Customer services</h5>
            <ul class="footer-list">
              <li>
                <a href="#">Promotions</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#">Cash Pick-up locations</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer__box">
            <h5 class="title-5">Destinations</h5>
            <ul class="footer-list">
              <li>
                <a href="#">Send top-up to Philippines</a>
              </li>
              <li>
                <a href="#">All destinations</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer__box">
            <h5 class="title-5">Company</h5>
            <ul class="footer-list">
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Media Coverage</a>
              </li>
              <li>
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <address class="address">
            <p>71-75 shelton street, <br> London wc2h 9jq</p>
            <p>Registered in England and Wales reg. no 08726948</p>
          </address>
        </div>
        <div class="col-md-6">
          <div class="logos-row">
            <div class="secure">
              <img src="img/secure.png" alt="secure">
            </div>
            <ul class="pay-list">
              <li>
                <img src="img/pay1.svg" alt="visa">
              </li>
              <li>
                <img src="img/pay2.svg" alt="mastercard">
              </li>
              <li>
                <img src="img/pay3.svg" alt="paypal">
              </li>
              <li>
                <img src="img/pay4.svg" alt="discover">
              </li>
              <li>
                <img src="img/pay5.svg" alt="american express">
              </li>
            </ul>
            <div class="checkout">
              <img src="img/checkout.svg" alt="checkout">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p class="copyright">&copy; 2020 SENDITOO LTD</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->