<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <a href="#" class="logo">
            <img src="img/logo.svg" alt="Send It To">
          </a>
          <div class="header-content" id="headerContent">
            <!-- <div class="select-country point">
              <form>
                <div class="select-box">
                  <p>Sending from:</p>
                  <select class="custom-select">
                    <option value="country">Country</option>
                    <option value="unitedKingdom">United Kingdom</option>
                    <option value="nigeria">Nigeria</option>
                    <option value="kenya">Kenya</option>
                    <option value="pakistan">Pakistan</option>
                    <option value="poland">Poland</option>
                    <option value="brazil">Brazil</option>
                    <option value="india">India</option>
                    <option value="colombia">Colombia</option>
                  </select>
                </div>
              </form>
            </div> -->
            <div class="select-language point">
              <form>
                <div class="select-box">
                  <div class="select-globe">
                    <img src="img/svg/globe.svg" alt="globe">
                  </div>
                  <select class="custom-select">
                    <option value="english">English</option>
                    <option value="spain">French</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="header-login">
              <a href="#" class="login-btn point">
                <img src="img/svg/user.svg" alt="user">
                Login
              </a>
              <a href="#" class="login-btn">
                <img src="img/svg/user-plus.svg" alt="user">
                Sign up
              </a>
            </div>
          </div>
          <div class="humburger" id="humburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->