@keyframes points {
  0% {
    opacity: 0;
    stroke-dashoffset: 1000;
  }

  3% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    stroke-dashoffset: 2000;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    stroke-dashoffset: 1000;
  }
}

.svg-line {
  stroke-dasharray: 170;
  stroke-dashoffset: 190;
  stroke-width: 1px;
  stroke: $orange;
}

.anim1,
.anim2,
.anim3,
.anim4,
.anim5,
.pane1,
.pane2,
.pane3,
.pane4,
.pane5 {
  opacity: 0;
  animation-duration: 20s;
  animation-name: points;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.anim2,
.pane2 {
  animation-delay: 4s;
}

.anim3,
.pane3 {
  animation-delay: 8s;
}

.anim4,
.pane4 {
  animation-delay: 12s;
}

.anim5,
.pane5 {
  animation-delay: 16s;
}


.show-on-load {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity $duration $timing, transform $duration $timing;
}

// classes for animation
.js-show {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
  transition: transform .8s cubic-bezier(0.6, 0, 0.41, 1), opacity .8s cubic-bezier(0.6, 0, 0.41, 1);
}

.js-fadeIn {
  opacity: 0;
}

.js-slideRight {
  opacity: 0;
  transform: translate(50px, 0);
}

.js-slideLeft {
  opacity: 0;
  transform: translate(-50px, 0);
}

.js-show-onload {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
  transition: transform .8s cubic-bezier(0.6, 0, 0.41, 1), opacity .8s cubic-bezier(0.6, 0, 0.41, 1);
}

.show-words {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity $duration $timing, transform $duration $timing;
}

.hide-content {
  opacity: 0;
}

.js-slideTop {
  opacity: 0;
  transform: translate(0, 50px);
}