@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype'),
    url('Ubuntu-Bold.woff') format('woff'),
    url('Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype'),
    url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
    url('../fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/openSans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/openSans/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}